<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<title>회원가입</title>
</head>
<body>
	<div class="container">
		<div class="col-md-6 col-xs-6">
			<h2 class="signup_title">회원가입</h2>
			<div>
				<form id="form">
					<!-- <div class="signup_btn">
						<button class="btn btn-success" type="button">네이버로 로그인</button>
					</div> -->
					<div class="signup_hr"></div>
					<div class="signup_text">
						<input type="text" placeholder="사용자 아이디" class="form-control input-valid"
							name="id" id="id" onfocusout="focusOut(this);" />
						<div class="invalid-feedback">이미 사용중 입니다.</div>
						<div class="valid-feedback">사용가능합니다.</div>
					</div>
					<div class="signup_text">
						<input type="password" placeholder="비밀번호" class="form-control input-valid"
							name="password" id="password" onfocusout="focusOut(this);"  autocomplete="new-password"  />
						<div class="invalid-feedback">필수 항목입니다.</div>
					</div>
					<div class="signup_text">
						<input type="password" placeholder="비밀번호 확인" class="form-control input-valid"
							name="confirm_password" id="confirm_password"
							onfocusout="passwordCheck(this);" />
						<div class="invalid-feedback">필수 항목입니다.</div>
					</div>
					<div class="signup_text">
						<input type="text" placeholder="성명" class="form-control input-valid"
							name="name" id="name" onfocusout="focusOut(this);" />
						<div class="invalid-feedback">필수 항목입니다.</div>
					</div>
					<div class="signup_text">
						<input type="email" placeholder="이메일" class="form-control input-valid"
							name="email" id="email" onfocusout="focusOut(this);" />
						<div class="invalid-feedback">이미 사용중 입니다.</div>
						<div class="valid-feedback">사용가능합니다.</div>
					</div>
					<div class="signup_text">
						<input type="text" placeholder="핸드폰번호" class="form-control input-valid"
							name="cellno" id="cellno" onfocusout="focusOut(this);" onkeyup="formatCellno(this);"/>
						<div class="invalid-feedback">필수 항목입니다.</div>
					</div>
				
				<!-- <div class="signup_text">
							<div class="row">
								<div class="col-md-8 col-xs-8"> 
									<div class="form-group">
									<input type="number" placeholder="핸드폰번호" class="form-control"
									name="cellno" id="cellno" onfocusout="focusOut(this);" /> 
									</div>
								</div>
								<div class="col-md-4 col-xs-4">
									<div class="form-group">
									<button disabled id="sendMessage" onclick="getToken()" class="btn btn-warning" style="width: 100%">인증번호 전송</button>
									</div>
								</div>
								<div class="invalid-feedback">필수 항목입니다.</div>
							</div>
						</div> -->
				</form>
				<div class="signup_btn">
					<button class="btn btn-success" type="button" onclick="submit();">가입</button>
				</div>
				<div class="signup_text_login">
					<P>
						계정이 있으신가요? <a th:href="@{~/login}">로그인</a>
					</P>
				</div>
				<div class="signup_text_signup">
					<P>
						회사 및 단체 계정이 필요하세요? <a th:href="@{~/signupGroup}">법인 회원 가입</a>
					</P>
				</div>
			</div>
		</div>
	</div>
</body>
<script>

	// 회원가입
    function submit() { 
        
        var result = true;
        
        $("input.input-valid").each(function(){
            if(!validationCheck(this)){
            	result = false;
            	return false;
            }
     	});
        
        if(!result){
        	return false;
        }  
    
        var formSerializeArray  = $("#form").serializeArray();
        
        var object = {};
        for (var i = 0; i < formSerializeArray.length; i++){
            object[formSerializeArray[i]['name']] = formSerializeArray[i]['value'];
        }
         
        var jsonData = JSON.stringify(object);  
        
        $.ajax({
        	url: "/comm/signUp",
			type : "POST",
			dataType : "json",
			contentType : 'application/json;charset=utf-8',
			data: jsonData,
			success : function(data, status) {
				console.log(status);
				if(data) {
                	location.href = "/login";
                } else {
                    alert("error");
                }
			},
			error : function(response) {
				alert("관리자에게 문의 바랍니다.");
			}

   		})           
    }
	
    // 포커스 아웃시
    function focusOut(element) {
        const id = element.id;
        
        if(validationCheck(element)){	       
        	if(id == "email" || id == "id"){
	        	ajaxCheck(element);        		
        	}
        }         
    }
	
    // 등록된 정보인지 확인
    function ajaxCheck(element) {
        const value = element.value;
        const url = "/comm/check"+element.id.replace(/^[a-z]/, char => char.toUpperCase());
        const submit_data = element.id +"="+value;
            $.ajax({
                url: url,
                data: submit_data,
                dataType:"json",
                success: function (data) {
                    if(data == 1) {          	
                        element.classList.remove("is-valid");
                        element.classList.add("is-invalid");
                        element.nextSibling.nextSibling.innerHTML = "이미 사용중입니다";
                    } 
                    else if(data == 0) {
                        element.classList.remove("is-invalid");
                        element.classList.add("is-valid");
                    } 
                },
                error: function (xhr,err){
                    alert("체크 오류. 관리자에게 문의하세요.");     
                }
            });
    }

    // 입력값 유효성 검사
    function validationCheck(element) {
        const value = element.value;
        if(value == "" || value == null){
            element.classList.add("is-invalid");
            element.classList.remove("is-valid");
            element.nextSibling.nextSibling.innerHTML = "필수 정보입니다";
            return false;
        }else {
        	if(element.id == "cellno"){
	        	if(!checkCellnoFormat(value)){
	        		element.classList.add("is-invalid");
	                element.classList.remove("is-valid");
	        		element.nextSibling.nextSibling.innerHTML = "유효하지 않는 전화번호입니다.";
	        		return false;
	        	} else {
	       			element.classList.remove("is-invalid");
	                element.classList.add("is-valid");
	        	}
        	} else if(element.id == "email"){
        		if(!checkEmailFormat(value)){
	        		element.classList.add("is-invalid");
	                element.classList.remove("is-valid");
	        		element.nextSibling.nextSibling.innerHTML = "유효하지 않는 이메일입니다.";
	        		return false;
	        	} else {
	       			element.classList.remove("is-invalid");
	                element.classList.add("is-valid");
	        	}        		
        	} 
        	
        	else {
        		element.classList.remove("is-invalid");
        	}        	
        	
            return true;
        }
    }

    // 비밀번호 체크
    function passwordCheck(element) {
        const password = document.getElementById("password").value;
        if(password != element.value){
            element.classList.add("is-invalid");
            element.classList.remove("is-valid");
            element.nextSibling.nextSibling.innerHTML = "비밀번호가 일치하지 않습니다.";
        }else if(element.value == "" || element.value == null){
            element.classList.add("is-invalid");
            element.classList.remove("is-valid");
            element.nextSibling.nextSibling.innerHTML = "필수 정보 입니다.";
        }else{
            element.classList.remove("is-invalid");
            element.classList.add("is-valid");
        }
    }   
    
    //휴대번호 유효성 체크
    function checkCellnoFormat(value) {	
    	var patternPhone = /01[016789]-[^0][0-9]{2,3}-[0-9]{3,4}/;
    	///^[0-9]{3}-[0-9]{4}-[0-9]{4}$/
        if (patternPhone.test(value)) {
            return true;
        }
        // alert(msg);
        return false;
	}
    
    // 핸드폰번호 하이픈 자동 생성
    function formatCellno(element){
    	/* element.value = element.value
    	  .replace(/[^0-9]/g, '') // 숫자를 제외한 모든 문자 제거
    	  .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);  */   
		value = element.value.replace(/[^0-9]/g, "");
		
		let result = [];
		let restNumber = "";
		
		/* // 지역번호와 나머지 번호로 나누기
		if (value.startsWith("02")) {
		  // 서울 02 지역번호
		  result.push(value.substr(0, 2));
		  restNumber = value.substring(2);
		} else if (value.startsWith("1")) {
		  // 지역 번호가 없는 경우
		  // 1xxx-yyyy
		  restNumber = value;
		} else {
		  // 나머지 3자리 지역번호
		  // 0xx-yyyy-zzzz
		  result.push(value.substr(0, 3));
		  restNumber = value.substring(3);
		} */
		
		result.push(value.substr(0, 3));
		restNumber = value.substring(3);
		
		if (restNumber.length === 7) {
		  // 7자리만 남았을 때는 xxx-yyyy
		  result.push(restNumber.substring(0, 3));
		  result.push(restNumber.substring(3));
		} else {
		  result.push(restNumber.substring(0, 4));
		  result.push(restNumber.substring(4));
		}

		element.value = result.filter((val) => val).join("-");
    }
    
    // 이메일 형식 체크
    function checkEmailFormat(value){

    	var regExpEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
       
        if(regExpEmail.test(value))
        {
           
            return true;
        }
        return false;

    }
</script>
</html>