<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>로그인 성공시</title>
    <style type="text/css">
    	html,
		body {
		    height: 100%;
		}
		
		.container {
		    height: 100%;
		    width:100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
    </style>
</head>

<body>
<div class="container">
	<div class="col-md-6 col-xs-6">
	    <h2 class="login_title">마이페이지</h2>
	   <!--  <div>
	        <div class="login_text">
	            <input type="text" placeholder="아이디" class="form-control" name="username" id="username" required="required"/>
	        </div>
	        <div class="login_text">
	            <input type="password" placeholder="비밀번호" class="form-control" name="password" id="password" required="required"/>
	        </div>
	        <div class="login_text">
	            <div id="invalid-message" style="color: #ff003e"></div>
	        </div>
	        <div class="login_btn">
	            <button class="btn btn-success" onclick="login();" type="button">로그인</button>
	        </div>
	        <div class="login_hr"></div>
	        <div>
	            <div class="login_text_naver">
	                <a href="#">네이버</a>로 로그인
	            </div>
	            <div class="login_text_a">
	                <a href="#">비밀번호를 잊으셧나요?</a>
	            </div>
	        </div>
	        <div class="login_hr"></div>
	        <div class="login_text_p">
	            <P>
	                계정이 없으신가요?
	                <a th:href="@{~/signup}">가입하기</a>
	            </P>
	        </div>
	    </div> -->
    </div>
</div>

</body>
<script type="text/javascript">
    window.onload = function () {

    }

	f
	}
</script>
</html>