<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Page Not Found</title>
    <style type="text/css">
    	html,
		body {
		    height: 100%;
		}
		
		.container {
		    height: 100%;
		    width:100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
    </style>
</head>

<body>
<div class="container">
	<div class="col-md-6 col-xs-6">
	    <h2 class="login_title">페이지를 찾을 수 없습니다.</h2>
	   
    </div>
</div>

</body>
<script type="text/javascript">
   
</script>
</html>