.profile {width: 10%; text-align: center;}
.profile a {margin: 0;}
.profile img {width: 24px; height: 24px;}

.title {font-weight: 900; font-size: 22px; color: #f7f7f7}

.list_info {padding: 10px 10px;}
.list_row {display: flex;}
.cell {padding: 3px; height: 40px; vertical-align: middle;}
.col1 {width: 25%;}
.col1 button {width: 100%;}
.col2 {width: 45%;}
.col2 button {width: 54%;}
.col2 input[type=text] {display:inline-block; width: 65%;}
.col2 strong {display: inline-block; width: 35%; text-align: center; padding-left: 3px;}
.add {width: 75%;}
.week {font-size: 12px; }
.week:nth-child(2n){margin: 0px 3px;}
.col2 input {text-align: center;}
.col3 {width: 30%; text-align: right;}
.col3 input {text-align: center;}
.col3 button {width: 100%;}

.add_btn {text-align: center; width: 100%; margin-bottom: 20px;}
.add_btn button {width: 50%;}
